//* En tu archivo styles.css */

/* Estilo para la sección de descripción de la galería */
.gallery-description {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-description h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 35px;
}

/* Estilo para el contenedor de la galería */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Estilo para cada imagen en la galería */
.gallery-1,
.gallery-2,
.gallery-3 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.gallery-1:hover img,
.gallery-2:hover img,
.gallery-3:hover img {
  transform: scale(1.1);
}

/* Estilo para el enlace de la imagen */
.gallery-1 img,
.gallery-2 img,
.gallery-3 img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
}

